//nav bar
$speed-font-size:1.3rem;
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;//1.5rem;
  text-align: center;
  background-color: theme-blue(0.03);
  padding:1rem 3rem;
  color: #556C86;
}
nav ul li{
  list-style-type: none;
}


nav > ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin:0;
  padding:0
}

.nav-share{
  font-size: 1.7rem;
  background-color: white;
  padding:0.8rem 2rem;
  border-radius: .4rem;
  border:1px solid theme-black(0.08);
  //theme-black(0.7);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  i{
    font-size: 1.5rem;
    padding-right: 3px;
  }
  &:hover{
    color:theme-blue(1)
  }
}

.drop-down{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: $speed-font-size;
  position: relative;
  margin: 0 2rem;
  cursor: pointer;

  & li{
    margin:0;
  }

  &-content{
    display: none;
    position: absolute;
    top:4.5rem;
    background-color: white;
    padding:0.5rem 1rem;
    border-radius: .5rem;
    border: 1px solid theme-black(0.1);
    z-index: 1;

    & li{
      margin: 0.5rem 0;
    }

    & li:hover{
      color:theme-blue(1)
    }
  }
  &:hover &-content{
    display: block;
  }
}

.audio{
  &-skip-icon{
  }
  &-basic-controls{
    display: flex;
    justify-content: center;
    align-items: center;
    & li:hover{
      color:blue;
    }
  }

  &-play-pause-icon{
    color:white;
    background-color: theme-blue(0.9);
    padding: 1rem;
    border-radius: 50%;
    margin:0 1rem;
  }

  &-speed{
    margin-top: $speed-font-size;
    background-color: white;
    border:1px solid theme-black(0.1);
    padding:0 1rem;
    border-radius: 0.8rem;
  }
}