//user percent=================
.user-percent--container{
  margin-top: 1.5rem;
  font-size: 1.5rem;
}

.user-percent{
  padding:.5rem 0;
  &:first-child{
    color:theme-purple(1);
  }
  &:last-child{
    color:theme-blue(1)
  }
  &--divider{
    padding:1px;
    background-color: theme-black(.1);
  }
}
//waveform
.waveform-container{
  background-color: theme-black(0.01);
  padding:2rem;
  display: flex;
  flex-direction: column;
  //align-items: flex-start;
  border-bottom: 1px solid theme-black(.1);
}

// time stamp ===============
.time-stamp{
  &-container{
    align-self: flex-start;
    display: block;
    background-color: theme-black(0.05);
    padding: .4rem 1rem;
    font-size: 1.4rem;
    color: #556C86;//theme-black(0.7);
    border-radius: .3rem;
    margin-bottom: 1.5rem;
  }
  &-duration{
    color: theme-black(1);
  }
}

.waveform-timebar-container{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.wavebar-top-container{
  display: flex;
  flex:1;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  padding:1rem 0;
  //margin-top: 1rem;
  overflow-y: auto;

  &::-webkit-scrollbar {
    height:1rem;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: theme-blue(0.7);
  }

  &::-webkit-scrollbar:vertical {
    display: none;
  }
}




.wavebar-container{
  display: flex;
  flex-direction: row;
  flex:1;
}


.wavebar-start-line{
  height:1.5rem;
  padding:1px;
  background-color: theme-black(.1);
}

.wavebar-row-container{
  display: flex;
  flex:1;
  justify-content: space-between;
  flex-direction: row;
}

.single{
  &-bar{
    height:3rem;
    margin-right:1px;
  }
  &-bar-fade{
    background-color: theme-black(0.2);
  }
  &-bar-blue{
    background-color: theme-blue(1);
  }
  &-bar-purple{
    background-color: theme-purple(.7);
  }
  &-bar-transparent{
    background-color: transparent;
  }
  &-bar-divider{
    padding:1px;
    margin:2px 0;
    background-color: theme-black(0.1);
  }
  &-bar-divider__fade{
    background-color: theme-black(0.7);
  }
}

.wavebar-column-container{
  display: flex;
  flex:1;
  flex-direction: column;
}